[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.28.1"
autocorrect = "*"
language_tool_python = "*"

[dev-packages]

[requires]
python_version = "3.11"
